{% extends 'human_resources/base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Human Resources</a></li>
    <li class="breadcrumb-item active" aria-current="page">Comprobante Detail</li>
  </ol>
</nav>
{% endblock %}
{% block content %}
	<h2>{{ comprobante.employee.full_name }}</h2>
	<table class="table table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">Cedula/Passport</th>
      <th scope="col">Nationality</th>
      <th scope="col">Method of Payment</th>
      <th scope="col">Pay Period</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">{{ comprobante.employee.identification }}</td>
      <td scope="row">{{ comprobante.employee.nationality }}</td>
      <td scope="row">{{ comprobante.employee.payment_method }}</td>
      <td scope="row">01/12/2019 - 15/12/2019</td>
    </tr>
  </tbody>
</table>

    <h4 class="sub-header">Income Breakdown</h4>
    <div class="table">
      <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col">ITEM</th>
            <th scope="col">METHOD</th>
            <th scope="col">RATE</th>
            <th scope="col">HOURS</th>
            <th scope="col">AMOUNT</th>
          </tr>
      </thead>
        <tbody>
          <tr>
            <td scope="col-md-1">Quincena</td>
            {% if comprobante.employee.payment_method == "SALARIO" %}
              <td scope="col-md-2">{{ comprobante.employee.payment_method }}</td>
              <td scope="col-md-3">{{ comprobante.employee.salary}}</td>
              <td scope="col-md-4">N/A</td>
              <td scope="col-md-5">{{ comprobante.quincena }}</td>
            {% else %}
              <td scope="col-md-2">{{ comprobante.employee.payment_method }}</td>
              <td scope="col-md-3">{{ comprobante.employee.hourly}}</td>
              <td scope="col-md-4">{{ comprobante.normal_hours }}</td>
              <td scope="col-md-4">{{ comprobante.taxable_income }}</td>
            {% endif %}
          </tr>

          {% if comprobante.extra_hours > 0 %}
          <tr>
            <td scope="row">Horas Extras</td>
            <td scope="row">POR HORA</td>
            <td scope="row">{{ comprobante.extra_hours_hourly }}</td>
            <td scope="row">{{ comprobante.extra_hours }}</td>
            <td scope="row">{{ comprobante.extra_hours_income }}</td>
          </tr>
          {% endif %}
          {% if comprobante.feriado_hours > 0 %}
          <tr>
            <td scope="row">Horas Feriados</td>
            <td scope="row">POR HORA</td>
            <td scope="row">{{ comprobante.feriado_hours_hourly }}</td>
            <td scope="row">{{ comprobante.feriado_hours }}</td>
            <td scope="row">{{ comprobante.feriado_hours_income }}</td>
          </tr>
          {% endif %}
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">TOTAL</th>
             <th>{{ comprobante.gross }}</th>
           </tr>
        </tfoot>
      </table>

<div class="row">
{% if comprobante.employee.nationality == "DOMINICAN" %}
  <div class="col-7">
    <h4 class="sub-header">Employee Deductions</h4>
    <div class="table-responsive">
      <table class="table table-sm">
      <thead class="thead-light">
          <tr>
            <th scope="col">DEDUCTION</th>
            <th scope="col">RATE</th>
            <th scope="col">TOTAL</th>
          </tr>
      </thead>
        <tbody>
          <tr>
            <td class="col-md-1">Seguro Familiar de Salud</td>
            <td class="col-md-2">3.04%</td>
            <td class="col-md-3">{{ comprobante.SFS_employee_deduction }}</td>
          </tr>
          <tr>
            <td class="col-md-1">Fondo de Pensiones</td>
            <td class="col-md-2">2.87%</td>
            <td class="col-md-3">{{ comprobante.AFP_employee_deduction }}</td>
          </tr>
          <tr>
            <th class="col-md-1">TOTAL</th>
            <td class="col-md-2"></td>
            <th class="col-md-3">{{ comprobante.total_employee_deductions}}</th>
          </tr>
        {% else %}
        {% endif %}
        </tbody>
      </table>
  </div>
</div>
  <div class="col-5">
    <h4 class="sub-header">Summary</h4>
    <div class="table-responsive">
      <table class="table table-sm">
        <tbody>
          <tr>
            <th class="col-md-1">GROSS INCOME</th>
            <td class="col-md-3">{{ comprobante.gross }}</td>
          </tr>
          <tr>
            <th class="col-md-1">DEDUCTIONS</th>
            <td class="col-md-3">{{ comprobante.AFP_employee_deduction }}</td>
          </tr>
          <tr>
            <th class="col-md-1">TOTAL</th>
            <th class="col-md-3">{{ comprobante.netpay }}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}