{% extends 'human_resources/base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Human Resources</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create Employee</li>
  </ol>
</nav>
{% endblock %}
{% block content %}
	<h1>{{ employee.forename }} {{ employee.middle_name }} {{ employee.surname }}</h1>

	<h4>Personal Information</h4>
	<p>cedula: {{ employee.identification }}</p>
	<p>date of birth: {{ employee.date_of_birth }} </p>
	<p>nationality: {{ employee.nationality }} </p>
	<p>gender: {{ employee.gender }} </p>

	<h4>Contact Information</h4>
	<p>phone number: {{ employee.phone_number }}</p>
	<p>email: {{employee.email }}</p>

	<h4>Work Related Information</h4>
	<p>active: {{ employee.active }}</p>
	<p>hire date: {{ employee.hire_date }}</p>
{% endblock %}