{% extends 'human_resources/base.html' %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Human Resources</a></li>
    <li class="breadcrumb-item active" aria-current="page">Nomina Detail View</li>
  </ol>
</nav>
{% endblock %}
{% block content %}
<div class="float-md-right">
	<h4>Nomina Period: {{ nomina.pay_period_start }} - {{ nomina.pay_period_end }}<h4>
</div>
<table class="table table-striped table-sm">
	<thead class="thead-light">
   	 <tr>
      <th scope="col">EMPLOYEE</th>
      <th scope="col">NATIONALITY</th>
      <th scope="col">METHOD</th>
      <th scope="col">RATE</th>
      <th scope="col">NORMAL HOURS</th>
	  <th scope="col">EXTRA HOURS</th>
	  <th scope="col">FERIADO HOURS</th>
	  <th scope="col">MONTO HN</th>
	  <th scope="col">MONTO HE</th>
	  <th scope="col">MONTO HF</th>
	  <th scope="col">MONTO BRUTO</th>
	  <th scope="col">SFS</th>
	  <th scope="col">AFP</th>
	  <th scope="col">MONTO NETO</th>
   	 </tr>
  	</thead>
    {% for comprobante in nomina.comprobante_set.all %}
			<tr>
                <td><a href="{% url 'human_resources:comprobante-detail' comprobante.id %}">{{ comprobante.employee.full_name }}</a></td>
				<td>{{ comprobante.employee.nationality }}</td>
				<td>{{ comprobante.employee.payment_method }}</td>
				{% if comprobante.employee.payment_method == "SALARIO" %}
					<td>{{ comprobante.employee.salary }}</td>
					<td>--</td>
				{% else %}
					<td>{{ comprobante.employee.hourly }}</td>
					<td>{{ comprobante.normal_hours }}</td>
				{% endif %}
				{% if comprobante.extra_hours == 0.0 %}
					<td>--</td>
				{% else %}
					<td>{{ comprobante.extra_hours }}</td>
				{% endif %}
				{% if comprobante.feriado_hours == 0.0 %}
					<td>--</td>
				{% else %}
					<td>{{ comprobante.feriado_hours }}</td>
				{% endif %}
				<td>{{ comprobante.taxable_income|default:"--" }}</td>
				<td>{{ comprobante.extra_hours_income|default:"--" }}</td>
				<td>{{ comprobante.feriado_hours_income|default:"--" }}</td>
				<td>{{ comprobante.gross|default:"--" }}</td>
				<td>{{ comprobante.SFS_employee_deduction|default:"--" }}</td>
				<td>{{ comprobante.AFP_employee_deduction|default:"--" }}</td>
				<td>{{ comprobante.netpay|default:"--" }}</td>
            </tr>
    {% endfor %}

</table>
<form action="{% url 'human_resources:email-comprobantes' nomina.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Email Comprobantes</button>
</form>

<br>

{% endblock %}